# Parte 0 - Titulo

## Parte 0 - subtitulo

### Parte 0 - subtitulo

#### Parte 0 - subtitulo

# Parte 1: Introducción a R

**Profesor:** Rodrigo Morales <br>
**E-mail:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$


$c^2 = a^2 + b^2$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [9]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
#sqrt(2)
#2^3

#sqrt(2); 2^3

round(sqrt(2),3)

[1] 1.414

In [12]:
123412341 +3412341

[1] 126824682

#123412341 +3412341
##123412341 +3412341
###123412341 +3412341
####123412341 +3412341
#####123412341 +3412341

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [34]:
# Podemos definir distintas variables
a = 1.512 + 2
a

[1] 3.512

In [40]:
# strings(character)

b = "hola"

c = "hola \""

c

[1] "hola \""

In [80]:
# valores lógicos (logical)


#2 >= 3
#2 <= 3
#2 == 3

#2 != 3

#!(2 >= 3)

#. | ->  o
# & -> y

a = (2 != 3 & 4>5) | T == F

a <- (2 != 3 & 4>5) | T == F

a = 5

b <- 5

5 -> c

d <- 6

a5 = d

a
b
c
d
a5

[1] 5

[1] 5

[1] 5

[1] 6

[1] 6

In [64]:
# a int
# b double
a <- 1

b <- 2.5

In [ ]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

In [ ]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3


# Podemos asignar con la flechita en los dos sentidos

In [ ]:
# podemos realizar comparaciones aritméticas

In [ ]:
# NOTA:valor infinito

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [81]:
# date

# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable


# coercionamos a clase date
a =1

In [82]:
# Observación: Inmutabilidad de variables en R.
a

[1] 1

In [66]:
# ¿Qué valor tiene y?
# en R las asignaciones por defecto se realizan por valor y no por referencia.

g12 <- 'hola'

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [79]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

character(0)

In [78]:


rm(list = ls())

In [62]:
# remueva algunas de las variables generadas anteriormente
f<- 1

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [90]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
# NA Not avalaible

# vector
a <- c(2, 3, 4, 5, NA)

sum(a, na.rm = T)
mean(a)
cumsum(a)

[1] 14

[1] NA

[1]  2  5  9 14 NA

In [92]:
1/0
-1/0

[1] Inf

[1] -Inf

In [93]:
sqrt(-1)
# NaN -> Not a number

Warning message in sqrt(-1):
“NaNs produced”

[1] NaN

In [ ]:
# para identificar un valor NA o NaN podemos utilizar la función is.na

### 2.2. Inspección de objetos
En R existen tres funciones muy útiles para **inspeccionar objetos**, pero cada una cumple un propósito distinto:

| Función     | Devuelve | Nivel de detalle | Enfoque principal |
|--------------|-----------|------------------|-------------------|
| `class()`    | La clase o clases del objeto | Bajo | Qué tipo lógico de objeto es |
| `typeof()`   | El tipo interno de almacenamiento | Bajo | Cómo se representa en memoria |
| `str()`      | Estructura completa resumida | Alto | Qué contiene y cómo está compuesto |

---


🧩 Ejemplo 1: Vector numérico

```r
v <- c(10, 20, 30)

class(v)    # Qué tipo lógico es
typeof(v)   # Cómo se almacena internamente
str(v)      # Cómo está estructurado

````
🧩 Ejemplo 2: Cadena de texto

```r
s <- "Hola R"

class(s)
typeof(s)
str(s)
````

In [101]:
v <- c(10, 20, 30, "40")


class(v)
typeof(v)
str(v)

[1] "character"

[1] "character"

 chr [1:4] "10" "20" "30" "40"

In [60]:
a
b
c
d

[1] 5

[1] 5

[1] 5

[1] 6

In [105]:
v = c(1, 2, 3, 4, 5, 6, "G")
typeof(v)

[1] "character"

In [113]:
v = c(1, 2, 3, 4, 5, 6, T, F)

mean(v)

[1] 2.75

In [107]:
list(x=c(1,2,3), y = c('a', 'b'))

$x
[1] 1 2 3

$y
[1] "a" "b"

In [110]:
w<-list(1, 2, 3, 4, 5, 6, "G")
w


class(w)
typeof(w)
str(w)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

[[7]]
[1] "G"

[1] "list"

[1] "list"

List of 7
 $ : num 1
 $ : num 2
 $ : num 3
 $ : num 4
 $ : num 5
 $ : num 6
 $ : chr "G"

In [115]:
c(1,2,3)
list(c(1,2,3))

[1] 1 2 3

[[1]]
[1] 1 2 3

## Fechas

In [118]:
f <- as.Date("2025-10-20")
class(f)
typeof(f)
str(f)

as.numeric(f)

[1] "Date"

[1] "double"

 Date[1:1], format: "2025-10-20"

[1] 20381

In [120]:
f + 31

[1] "2025-11-20"

In [134]:
format(f, "%Y%b %h:%m:%s")

[1] "2025 - Oct Oct:10m:1760918400"

In [135]:
Sys.Date()

[1] "2025-10-20"

In [136]:
Sys.time()

[1] "2025-10-20 23:35:59 UTC"

In [137]:
as.POSIXct(tz = 'G)

In [138]:
   as.POSIXlt(Sys.time(), "GMT")

[1] "2025-10-20 23:38:58 GMT"